# Temporary: retained until beeware/.github's app-create-verify.yml
# workflow is updated to read deps from pyproject.toml.
# See beeware/briefcase-template#236.

black == 26.5.1
briefcase @ git+https://github.com/beeware/briefcase.git
flake8 == 7.3.0
pre-commit == 4.6.0
pytest == 9.0.3
toml == 0.10.2
tox == 4.54.0
